# dependencies
node_modules

# build output
.next
out
dist
build

# database
drizzle

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# misc
.DS_Store
*.log
.env
.env.local
.env.*.local

# git
.git
.gitignore
