@import 'tailwindcss';
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap"); */

:root {
    --color-base-0-value: var(--color-white);
    --color-base-1-value: var(--color-gray-50);
    --color-base-2-value: var(--color-gray-100);
    --color-base-3-value: var(--color-gray-200);
    --color-base-4-value: var(--color-gray-300);
    --color-base-5-value: var(--color-gray-400);
    --color-base-6-value: var(--color-gray-500);
    --color-base-7-value: var(--color-gray-600);
    --color-base-8-value: var(--color-gray-800);
    --color-base-9-value: var(--color-black);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-base-0-value: var(--color-black);
        --color-base-1-value: var(--color-gray-950);
        --color-base-2-value: var(--color-gray-900);
        --color-base-3-value: var(--color-gray-800);
        --color-base-4-value: var(--color-gray-700);
        --color-base-5-value: var(--color-gray-500);
        --color-base-6-value: var(--color-gray-400);
        --color-base-7-value: var(--color-gray-300);
        --color-base-8-value: var(--color-gray-100);
        --color-base-9-value: var(--color-white);
    }
}

@theme inline {
    --color-base-0: var(--color-base-0-value);
    --color-base-1: var(--color-base-1-value);
    --color-base-2: var(--color-base-2-value);
    --color-base-3: var(--color-base-3-value);
    --color-base-4: var(--color-base-4-value);
    --color-base-5: var(--color-base-5-value);
    --color-base-6: var(--color-base-6-value);
    --color-base-7: var(--color-base-7-value);
    --color-base-8: var(--color-base-8-value);
    --color-base-9: var(--color-base-9-value);
}

body {
    color: var(--color-base-9);
    background: var(--color-base-0);
    /* font-family: "Noto Sans JP", sans-serif; */
    font-family: Arial, sans-serif;
}

.scrollbar-none {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
